<div class="container">

  <%= form_for(@list) do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Back to Lists", lists_path, class: "btn btn-success" %>
  <% end %>
</div>

